*,
*::before,
*::after {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcff;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

input:not([type='radio']):not([type='checkbox']),
textarea {
  padding: 0.3em 0.5em;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #cacacc;
  width: 100%;
  max-width: 100%;
}
